
@font-face {
  font-family: 'Adigiana Toybox Regular';
  src: url('/AdigianaUI.ttf');
}

:root {
  --primary-color: #fdfdfd;
  --primary-dark: #fdfdfd;
  --secondary-color: #000000;
  --secondary-dark:#000000;
  --overlay: rgba(0,0,0,.7);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;
  line-height: 1.2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
